html {
  scroll-behavior: smooth;
  scroll-padding-top: 12rem; /* offset for fixed header */
  font-size: 60%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #0cea3c;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--text-color);
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.logo {
  font-size: 3.5rem;
  color: var(--main-color);
  font-weight: bolder;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px #0cea3c3d;
}

span {
  background: linear-gradient(270deg, #0cea3c 10%, rgb(6, 128, 184) 100%);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 2rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #0cea3c 10%, rgb(6, 128, 184) 100%);
  color: white;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  text-wrap: none;
  margin-left: 2rem;
}

.gradient-btn:hover {
  color: var(--main-color);
  background: var(--bg-color);
  outline: 2px solid var(--main-color);
}

.section {
  padding: 10rem 15%;
  min-height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding-top: 20rem;
  overflow: hidden;
}

.home-content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.home-content h1 {
  font-size: 6rem;
  color: var(--text-color);
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1;
}

.home-content h3 {
  font-size: 4rem;
  color: var(--text-color);
  margin: 1rem 0;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}

.home-img {
  display: flex;
  justify-content: center;
}

.home-img img {
  border-radius: 50%;
  width: 22vw;
  max-height: 70vh;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
  object-fit: cover;
  translate: -2rem -3rem;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
}

.social-icons a:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 0 15px var(--main-color);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px transparent;
  border-radius: 3rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  transform: translateY(-5px);
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 0 25px var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
  margin-top: 5rem;
  padding-bottom: 7rem;
}

.about-img img {
  border-radius: 50%;
  width: 20vw;
  max-height: 70vh;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
  object-fit: cover;
  translate: 3rem 4rem;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

.about-content h2 {
  font-size: 7rem;
  text-align: left;
}

.about-content p {
  font-size: 1.8rem;
}

.about-content .btn {
  margin: 3rem 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  border: 6px solid var(--bg-color);
}

::-webkit-scrollbar-track {
  background: var(--second-bg-color);
  border-radius: 10px;
  border: 3px solid var(--bg-color);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  padding: 2rem 0;
}

.skills h2 {
  font-size: 7rem;
  text-align: center;
  width: 100%;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.skill i {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 7rem;

  font-size: 3rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
}

.skill span {
  font-size: 1.4rem;
<<<<<<< HEAD
  font-weight:bold;
  margin-bottom: 50px;
=======
  color: var(--text-color);
>>>>>>> fe436a8a283c25c1f2994ebf04e2987ae3c72b1a
}

.skills-container i:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 0 15px var(--main-color);
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--second-bg-color);
  padding: 4rem 4rem;
  border-radius: 20px;

}

.education h2 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 20px;
}

.education-box {
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 350px;
  text-align: center;
  transition: all 0.3s ease;
  color: var(--main-color);
}

.education-box i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.education-box h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.education-box span {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.education-box p {
  font-size: 1.2rem;
  color: var(--text-color);
}

.education-box:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 0 15px var(--main-color);
}

.education-box:hover i {
  color: var(--text-color);
}

.expect {
  font-size: small;
  color: var(--main-color);
  font-style: italic;
}

.projects {
  background: var(--bg-color);
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--second-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}

.projects-card:hover {
  box-shadow: 0 0 15px var(--main-color),
              0 0 30px var(--main-color),
              0 0 60px var(--main-color);
  transform: scale(1.02);
}

.projects-card img {
  max-width: 300px;
  width: fit-content;
  border-radius: 2rem;
  object-fit: cover;
}

.projects-card h3 {
  font-size: 3rem;
}

.projects-card p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
}

.heading {
  font-size: 7rem;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.projects-card .heading span {
  margin: 3rem 0;
}

.contact {
  background: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer {
  background: var(--bg-color);
  padding: 50px 0;
}

.footer .social-icons {
  text-align: center;
  margin-bottom: 20px;
}

.footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

/* --------------- MEDIA QUERY --------------- */
@media (max-width: 1285px) {
  #menu-icon {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: var(--second-bg-color);
    border-bottom-left-radius: 2rem;
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar a {
    display: block;
    margin: 3rem 0;
    font-size: 2rem;
    color: var(--text-color);
  }

  .navbar.active {
    display: block;
  }

  .gradient-btn {
    display: none;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .home-img {
    display: flex;
    justify-content: center;
  }

  .home-img img {
    width: 56vw;
    translate: none;
    margin: 0 auto;
    display: block;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about-img img {
    width: 52vw;
    max-height: 60vh;
    align-items: center;
    justify-content: center;
    transform: translateX(-3rem) translateY(0);
  }

  .contact form {
    flex-direction: column;
    gap: 1rem;
  }
}